# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log
logs/

# Environment variables
.env

# Output directory
output/*
!output/.gitkeep

# Vector store directories
chroma_storage/*
!chroma_storage/.gitkeep
qdrant_storage/*
!qdrant_storage/.gitkeep
faiss_index/*
!faiss_index/.gitkeep

# MongoDB
*.wt
*.lock
*.turtle
*.bson
*.idx
*.data
*.0
*.1
*.2
*.3
*.4
*.5
*.6
*.7
*.8
*.9
*.ns
journal/
diagnostic.data/
